@model IEnumerable<Pergunta>

<img src="~/collabedit.png" />

<h1>Home do @ViewBag.Nome</h1>
<h2>@ViewData["NomeDoAluno"]</h2>
<br />

<ul>
    @foreach (var item in Model)
    {
        <li>
            <p>@item.Id</p>
            <p>@item.Autor</p>
            <p>@item.Descricao</p>
        </li>
    }
</ul>

<email mait-to="Jefferson"></email>

<vc:noticias total="4" noticias-urgentes="true">
</vc:noticias>

@*@await Component.InvokeAsync("Noticias", new { total = 3, noticiasUrgentes = false })*@

@*<p>@Model.Id</p>
    <p>@Model.Autor</p>
    <p>@Model.Descricao</p>*@

<br />

<p>Twitter @@JeffersonBarros</p>